{% load  static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <script src="{% static 'own_js/xfzajax.js' %}"></script>
    <script src="{% static 'own_js/sweetalert.min.js' %}"></script>
    <script src="{% static 'own_js/xfzalert.js' %}"></script>
    <script src="{% static 'own_js/message.js' %}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="bg" id="dialogBg"></div>
<header>
    <div class="c-box fff-box">
        <div class="wp header-box">
            <p class="fl hd-tips">慕学在线，在线学习平台！</p>
            <ul class="fr hd-bar">
                <li>优课,你互联网的启蒙导师!</li>
                <li><a href="{% url 'auth:login' %}">[登录]</a></li>
                <li><a href="{% url 'auth:regist' %}">[注册]</a></li>
            </ul>
        </div>
    </div>
</header>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="hd-login clearfix">
                <a class="index-logo" href="\"></a>
                <a class="index-font" href="\">回到首页</a>
            </div>
            <div class="fl slide">
                <div class="imgslide">
                    <ul class="imgs">

                        <li><a href=""><img width="483" height="472" src="/static/images/57a801860001c34b12000460.jpg" /></a></li>

                        <li><a href=""><img width="483" height="472" src="/static/images/57a801860001c34b12000460.jpg" /></a></li>

                        <li><a href=""><img width="483" height="472" src="/static/images/57a801860001c34b12000460.jpg" /></a></li>

                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
                {% block content %}{% endblock %}
        </div>
    </div>
</section>

<input id="isLogin" type="hidden" value="False"/>

<script src="/static/js/unslider.js" type="text/javascript"></script>
<script src="/static/js/validateDialog.js"  type="text/javascript"></script>
<script src="/static/js/login.js"  type="text/javascript"></script>
</body>
</html>