<footer>
    <div class="footer">
        <div class="wp">
            <ul class="cont">
                <li class="logo"><a href=""><img src="/static/images/new_logo.png"/></a></li>
{#                <li class="code"><img src="/static/images/code1.jpg"/>#}
{#                    <p class="center">扫描关注微信</p></li>#}
                <li class="third"><img class="fl" src="/static/images/tell.png"/>
                    <p class="tell">029-88888888</p>
                    <p class="time">周一至周日 9:00-18:00</p></li>
            </ul>

        </div>
        <p class="line"></p>
        <div class="wp clear">
            <span class="fl">? 2018 www.dxpy.com 优课课堂-在线学习交流平台 保留所有权利</span>
            <span class="fr">copyright ? 2018 ICP备案证书号：蜀ICP备xxxxx号-1</span>
        </div>
    </div>
</footer>

<section>
    <ul class="sidebar">
        <li class="qq">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1527507926&site=qq&menu=yes"></a>
        </li>
        <li class="totop"></li>
    </ul>
</section>