<div class="middle">
    <div class="wp">
        <a href="\"><img class="fl" src="/static/images/new_logo1.png"/></a>
        <div class="searchbox fr">
            <div class="selectContainer fl">
                            <span class="selectOption" id="jsSelectOption" data-value="course">
                                公开课
                            </span>
                <ul class="selectMenu" id="jsSelectMenu">
                    <li data-value="course">公开课</li>
                    <li data-value="org">课程机构</li>
                    <li data-value="teacher">授课老师</li>
                </ul>
            </div>
            <input id="search_keywords" class="fl" type="text" value="" placeholder="请输入搜索内容"/>
            <img class="search_btn fr" id="jsSearchBtn" src="/static/images/search_btn.png"/>
        </div>
    </div>
</div>