<div class="middle">
    <div class="wp">
        <a href="\"><img class="fl" src="/static/images/new_logo1.png"/></a>
        <div class="searchbox fr">
            <div class="selectContainer fl">
                            <span class="selectOption" id="jsSelectOption" data-value="course">
                                公开课
                            </span>
                <ul class="selectMenu" id="jsSelectMenu">
                    <li data-value="course">公开课</li>
                    <li data-value="org">课程机构</li>
                    <li data-value="teacher">授课老师</li>

                </ul>
            </div>
            <form action="/search/" method="get">
                <input class="fl"  type="text" value="{{ query }}" placeholder="请输入搜索内容" name="q"/>
{#                <img class="search_btn fr" src="/static/images/search_btn.png" alt="">#}
{#                <input type="submit" id="searchBtn" value="" >#}
                <input type="image" name="" class="search_btn fr" src="/static/images/search_btn.png" style="width: 38px;height: 38px;margin-top: 0px">
            </form>
        </div>
    </div>
</div>